:root {
  /* https://colorhunt.co/palette/332fd09254c8e15fed6edcd9 */
  --stroke: #3b3c42;
  --main: #fffffe;
  --shadow: rgb(0 0 0 / 0.4);
  --highlight: #9254c8;
  --secondary: #332fd0;
  --tertiary: #e15fed;
  --quaternary: #6edcd9;
  --animation-bounce: cubic-bezier(0.95, 2.5, 0.4, -0.2);
  --ss: calc(0.8em + 0.5vw);
  --sm: 28px;
  --sl: 36px;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;

  font-family: "Maven Pro", sans-serif;
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Grid in page */
.container {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav      aside"
    "section  aside"
    "footer   aside";
}

.navbar {
  grid-area: nav;
  display: flex;
  justify-items: center;
}

.navbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}
.navbar__content .logo {
  height: 50px;

  transform: scale(0);
  animation: navbar 0.5s var(--animation-bounce) 4s forwards;
}
#gradient-logo {
  --gradient-logo-1: var(--highlight);
  --gradient-logo-2: var(--tertiary);
}
.navbar__content .logo-url:not(hover) {
  filter: drop-shadow(-3px 6px 4px var(--shadow));
}
.navbar__content .logo-url:hover {
  transform: translateY(-2px);
  filter: drop-shadow(-3px 8px 6px var(--shadow));
}
.navbar__content .logo-url:active {
  transform: translateY(2px);
  filter: drop-shadow(-3px 4px 2px var(--shadow));
}
.navbar__content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 100%;
}
.navbar__content ul li {
  transform: scale(0);
  animation: navbar 0.5s var(--animation-bounce) forwards;
}
.navbar__content ul li:nth-child(1) {
  animation-delay: 4.2s;
}
.navbar__content ul li:nth-child(2) {
  animation-delay: 4.4s;
}
.navbar__content ul li:nth-child(3) {
  animation-delay: 4.6s;
}
.navbar__content ul li:nth-child(4) {
  animation-delay: 4.8s;
}
.navbar__content ul li p {
  color: var(--secondary);
  font-weight: 600;
  font-size: var(--ss);

  text-shadow: -3px 6px 4px var(--shadow);
}
.navbar__content ul li p:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: -3px 6px 6px var(--shadow), 0 -2px 0 var(--secondary),
    1px -1px 0 var(--secondary);
}
.navbar__content ul li p:active {
  color: transparent;
  text-shadow: -3px 6px 2px var(--shadow), 0 2px 0 var(--secondary),
    -1px 1px 0 var(--secondary);
}
@keyframes navbar {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: section;
  padding-left: 40px;

  transform: translateX(-200vh);
  animation: main-content 1s ease-in-out 4.5s forwards;
}
.main-content p:first-child {
  font-size: var(--sm);
  font-weight: 500;
  margin: 0 0 -14px 40px;

  color: var(--stroke);
}
.main-content h1 {
  font-size: var(--sl);
  font-weight: 900;
  margin: 0 0 28px 0;

  background-image:linear-gradient(45deg, var(--quaternary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-content p:last-child {
  font-size: var(--ss);
  font-weight: 400;
  margin: 0;
  width: 70%;

  color: var(--stroke);
}
@keyframes main-content {
  from {
    transform: translateX(-200vh);
  }
  to {
    transform: translateX(0px);
  }
}

.aside-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  
  grid-area: aside;
}
.aside-content p {
  font-size: var(--sm);
  font-weight: 500;

  grid-row: 1 / 2;
  grid-column: 1 / 2;

  transform: rotateZ(-90deg);
  opacity: 0;
  animation: aside-content-text 1s ease-out 5.5s forwards;
}
@keyframes aside-content-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.aside-content .element-aside {
  height: 100%;
  width: 100%;

  grid-row: 1 / 2;
  grid-column: 2 / 6;

  transform: translateX(200vh);
  animation: aside-content-img 1s ease-in-out 4.5s forwards;
}
.aside-content .element-aside #element {
  height: 100%;
  width: 100%;
  object-fit: contain;
  fill: var(--main);
  stroke: var(--stroke);
  stroke-width: 4px;
  
  filter: drop-shadow(-10px 10px 1px var(--shadow));
}
.aside-content .element-aside #colorpicker-aside {
  position: absolute;
  left: 0;
  height: 10%;
  width: 20%;
  top: 0;

	-webkit-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
}
.aside-content .element-aside #print-aside {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 150px;
}
@keyframes aside-content-img {
  0% {
    transform: translateX(200vh);
  }
  80% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.aside-content .background-aside {
  height: 100%;
  width: 100%;

  grid-row: 1 / 2;
  grid-column: 4 / 7;

  background: var(--quaternary);
  transform: translateX(200vh);
  animation: aside-content-div 0.5s ease-in-out 4s forwards;
}
@keyframes aside-content-div {
  0% {
    transform: translateX(200vh);
  }
  100% {
    transform: translateX(0px);
  }
}

.footer {
  grid-area: footer;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--quaternary);
  border-radius: 0 40px 0 0;

  transform: translateY(200vh);
  animation: footer 1s ease-in-out 4.5s forwards;
}
@keyframes footer {
  0% {
    transform: translateY(200vh);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer .footer-content {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 20px;

  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
}
.footer .footer-content li:first-child div, 
.footer .footer-content li:last-child div {
  height: 100%;
  width: 10px;
}
.footer .footer-content div {
  scroll-snap-align: center;
  position: relative;
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  background: transparent;
}
.footer .footer-content div .background-print {
  position: absolute;
  height: 80px;
  width: 100%;
  border-radius: 50%;
  background: var(--main);
  bottom: 25px;
  box-shadow: 0 8px 5px 2px var(--shadow);
}
.footer .footer-content div img {
  height: 50%;
  width: auto;
  object-fit: contain;

  transform: translateY(50%) scale(1);
  transition: transform 0.5s ease-in-out;
}
.footer .footer-content div img:hover {
  cursor: pointer;
  transform: translateY(30%) scale(1.5);
  transition: transform 0.3s ease-in-out;
}
.footer .footer-content div img:active {
  cursor: pointer;
  transform: translateY(35%) scale(1.4);
  transition: transform 0.1s ease-in-out;
  filter: drop-shadow(-2px 2px 4px var(--highlight));
}

.loader {
  position: absolute;
  z-index: 3;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(./assets/wickedbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: loader 4s linear forwards;
}
@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader svg {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 20px;

  fill: var(--main);
}
.loader svg:nth-child(1) {
  transform: translateX(-1000px);
  animation: scaling-up 4s ease-in-out forwards;
}
.loader svg:nth-child(2) {
  transform: scale(0);
  animation: scaling-middle 4s ease-in-out forwards;
}
.loader svg:nth-child(3) {
  transform: translateX(1000px);
  animation: scaling-down 4s ease-in-out forwards;
}
@keyframes scaling-middle {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: rotateZ(-90deg) scale(100);
  }
}
@keyframes scaling-up {
  0% {
    transform: translateX(-1000px);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes scaling-down {
  0% {
    transform: translateX(1000px);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.info {
  width: 100%;
  height: 100%;
  background: var(--shadow);
  position: absolute;
  z-index: 2;

  align-items: center;
  justify-content: center;
}
.info-content {
  position: relative;
  height: 500px;
  width: 500px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background: url(./assets/wickedbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 0 30px 10px var(--shadow);
}
.info-content .close-info {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #C21010;
  border: 2px solid #E64848;

  display: flex;
  justify-content: center;
  align-items: center;
}
.info-content .close-info svg {
  transform: scale(2);
  fill: var(--main);
}
.info-content .close-info svg:hover {
  transform: scale(2);
  fill: var(--main);
  stroke: var(--main);
  stroke-width: 2px;
}
.info-content .logo {
  height: 300px;
  padding: 20px;
  fill: var(--main);

  filter: 
    drop-shadow(-30px 10px 2px var(--shadow));
}
.info-content h1 {
  margin: 0;
  width: 100%;

  color: var(--main);
  text-align: center;
  font-size: var(--sl);
  font-weight: 900;
}
.info-content .social-icons {
  padding: 20px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}
.info-content .social-icons a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.info-content .social-icons a div {
  height: 50px;
}
.info-content .social-icons a #instagram-logo {
  fill: var(--main);
  filter: drop-shadow(0 0 2px #E09B3D);
}
.info-content .social-icons a #whatsapp-logo {
  fill: var(--main);
  filter: drop-shadow(0 0 2px #7AD06D);
}
.info-content .social-icons a p {
  margin: 0;
  color: var(--main);
  text-align: center;
  font-size: var(--ss);
  font-weight: 700;
}
.info-content .social-icons a:hover {
  filter: drop-shadow(0 0 8px var(--shadow));
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}